{% extends "_base_view.html" %}

{% block content %}
<p>Description: {{ religion.description }}</p>
<p>Beliefs: {{ religion.beliefs }}</p>
<p>Notes: {{ religion.notes_content }}</p>
{% endblock %}

{% block actions %}
<a href="{{ url_for('edit_religion', religion_id=religion.id) }}">Edit Religion</a>
<form action="{{ url_for('delete_religion', religion_id=religion.id) }}" method="POST" style="display:inline;">
    <button type="submit">Delete Religion</button>
</form>
{% endblock %}

{% set title = "View Religion" %}
{% block name %}{{ religion.name }}{% endblock %}
{% set item = religion %}