{% extends "_base_view.html" %}

{% block content %}
<p>Description: {{ settlement.description }}</p>
{% endblock %}

{% block actions %}
<a href="{{ url_for('edit_settlement', settlement_id=settlement.id) }}">Edit Settlement</a>
<form action="{{ url_for('delete_settlement', settlement_id=settlement.id) }}" method="POST" style="display:inline;">
    <button type="submit">Delete Settlement</button>
</form>
{% endblock %}

{% set title = "View Settlement" %}
{% block name %}{{ settlement.name }}{% endblock %}
{% set item = settlement %}