<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Event</title>
</head>

<body>

    <a href="{{ url_for('DB_Status') }}">Back</a>
    <div class="form-container">
        <h1>{{ event.name }}</h1>
        <p>Description: {{ event.description }}</p>
        <p>Date: {{ event.date }}</p>
        <p>Notes: {{ event.notes }}</p>
        <p>Created At: {{ event.created_at }}</p>
        <p>Updated At: {{ event.updated_at }}</p>
    </div>

</body>

</html>