<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <a href="{{ url_for('DB_Status') }}">Back</a>
    <div class="form-container">
        <h1>{{ race.name }}</h1>
        <p>Description: {{ race.description }}</p>
        <p>Race: {{ race.traits }}</p>
        <p>Notes: {{ race.notes }}</p>
        <p>Created At: {{ race.created_at }}</p>
        <p>Updated At: {{ race.updated_at }}</p>
    </div>

</body>

</html>