<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Religion</title>
</head>

<body>

    <a href="{{ url_for('DB_Status') }}">Back</a>
    <div class="form-container">
        <h2>Create new religion</h2>
        <form action="{{ url_for('create_religion') }}" method="POST">
            {% if session.get('selected_world_id') %}
                <label for="world_id" hidden>World ID</label>
                <input type="text" id="world_id" name="world_id" value="{{ session['selected_world_id'] }}" required hidden>
            {% else %}
                <label for="world_id">World ID</label>
                <input type="text" id="world_id" name="world_id" required>
            {% endif %}
            <label for="name">Religion Name</label>
            <input type="text" id="name" name="name" required>
            <label for="description">Description</label>
            <textarea id="description" name="description" required></textarea>
            <label for="beliefs">Beliefs</label>
            <textarea name="beliefs" id="beliefs"></textarea>
            <label for="notes">Notes</label>
            <textarea id="notes" name="notes"></textarea>
            <button type="submit">Create Religion</button>
        </form>
    </div>

</body>

</html>