{% extends "_base_form_create.html" %}

{% block form_fields %}
    <label for="name">World Name</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes"></textarea>
{% endblock %}

{% set title = "Create World" %}
{% set heading = "Create new world" %}
{% set button_text = "Create World" %}
{% set action_url = url_for('create_world') %}