<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Religion</title>
</head>

<body>

    <a href="{{ url_for('DB_Status') }}">Back</a>
    <div class="form-container">
        <h2>Create new world</h2>
        <form action="{{ url_for('create_religion') }}" method="POST">
            <label for="world_id">World ID</label>
            <input type="text" id="world_id" name="world_id" required>
            <label for="religion_name">Religion Name</label>
            <input type="text" id="world_name" name="religion_name" required>
            <label for="religion_description">Description</label>
            <textarea id="religion_description" name="religion_description" required></textarea>
            <label for="religion_beliefs">Beliefs</label>
            <textarea name="religion_beliefs" id="religion_beliefs"></textarea>
            <label for="religion_notes">Notes</label>
            <textarea id="religion_notes" name="religion_notes"></textarea>
            <button type="submit">Create Religion</button>
        </form>
    </div>

</body>

</html>