{% extends "_base_form_create.html" %}

{% block form_fields %}
    <label for="name">Event Name</label>
    <input type="text" id="name" name="name" required>

    <label for="description">Description</label>
    <textarea id="description" name="description" required></textarea>

    <label for="date">Date</label>
    <textarea id="date" name="date"></textarea>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes"></textarea>
{% endblock %}

{% set title = "Create Event" %}
{% set heading = "Create new event" %}
{% set action_url = url_for('create_event') %}
{% set button_text = "Create Event" %}
