{% extends "_base_form_edit.html" %}

{% block form_fields %}
    <label for="name">Race Name</label>
    <input type="text" id="name" name="name" value="{{ race.name }}" required>

    <label for="description">Description</label>
    <textarea id="description" name="description" required>{{ race.description }}</textarea>

    <label for="traits">Traits</label>
    <textarea id="traits" name="traits">{{ race.traits }}</textarea>

    <label for="notes">Notes</label>
    <textarea id="notes" name="notes">{{ notes_content }}</textarea>
{% endblock %}

{% set title = "Edit Race" %}
{% set heading = "Edit new race" %}
{% set action_url = url_for('edit_race', race_id=race.id) %}
{% set button_text = "Edit Race" %}
