<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Religion</title>
</head>

<body>

    <a href="{{ url_for('DB_Status') }}">Back</a>
    <div class="form-container">
        <h2>Edit Religion</h2>
        <form action="{{ url_for('edit_religion', religion_id=religion.id) }}" method="POST">
            <label for="religion_name">Religion Name</label>
            <input type="text" id="religion_name" name="religion_name" value="{{ religion.name }}" required>
            <label for="religion_description">Description</label>
            <textarea id="religion_description" name="religion_description"
                required>{{ religion.description }}</textarea>
            <label for="religion_beliefs">Beliefs</label>
            <textarea id="religion_beliefs" name="religion_beliefs">{{ religion.beliefs }}</textarea>
            <label for="religion_notes">Notes</label>
            <textarea id="religion_notes" name="religion_notes">{{ religion.notes }}</textarea>
            <button type="submit">Edit Religion</button>
        </form>
    </div>

</body>

</html>